
a{
  text-align-last: center;
}
#top{
    background: url(Assets/Images/topbackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;;
    height:775px;
    width: auto;
    margin-bottom: 0;
  

}
#middle{
  /* background-color: #434D56; */
  font-family: 'Oswald', sans-serif;
}
.btn {
  border: 1px solid black;
}

h1{
    text-align: center;
    color: #383838;
    padding: 2%;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
#bio{


  width: 500px !important;
  /* background-color: rgb(12, 194, 201); */
}

#work{
  background-color: #434D56; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;;
  height: 875px;
  width: auto;
}

h2{
  font-family: 'Oswald', sans-serif;
  color: black !important;
}

h7{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
h3{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  text-decoration: underline;
}


h6{
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
  color: black;

}
h5{
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;

  

}
h8{
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  color: red;
  text-decoration: underline;

}
h9{
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  color: darkblue;
  text-decoration: underline;

}
p{
  text-align: center;
}

.media{
  text-align: center;
}
#column{

  border-bottom: solid;
  border-color: slategray;



}

i{
  font-size: 50px;
 padding: 10px;
 
}

#main{
    font-weight: bolder;
    font-size: 45px;

}
#media1{
  background-color: rgb(245, 245, 245);
  padding-bottom: 25px;
}

#media2{
  background-color: rgb(245, 245, 245);
  padding-bottom: 50px;
}

#contact{
    background-color: rgb(245, 245, 245);
    padding: 40px;
}

#contactInfo{
  height:185px;
  width: 185px;
}

.footer-header {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #434d56;
    color: white;
    text-align: center !important;

  }
  .portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
    padding: 10px;
  }
  
  .portfolio-item .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2rem 2rem;
  }
  
  .portfolio-item .caption .caption-content h2 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0;
    }
    .portfolio-item .caption {
      -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px);
    }
    .portfolio-item .caption .caption-content {
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
    }
    .portfolio-item img {
      -webkit-transition: -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }
    .portfolio-item:hover img {
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption {
      background-color: #383838;
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
  }





